<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WG 운영 선택</title>
    <link rel="stylesheet" href="/static/select_styles.css?v=2">
</head>
<body>
    <div class="container">
        <h2>운영 중인 실무협의체를 선택하세요</h2>
        <div class="menu-buttons">
            <a href="/wg/physicochemical" class="menu-btn pastel-blue">이화학</a>
            <a href="/wg/efficacy" class="menu-btn pastel-green">약효약해</a>
            <a href="/wg/residue" class="menu-btn pastel-orange">잔류성</a>
            <a href="/wg/toxicity" class="menu-btn pastel-pink">독성</a>
        </div>
    </div>
    <div class="logout-container">
        <a href="/select-menu" class="logout-btn">뒤로가기</a>
    </div>
</body>
</html>